unit-testing-using-mstest/PrimeService.Tests/bin/*
*.cache
*.dll
*.exe
*.pdb
/build/
*.suo
*.user
_ReSharper.*/
*.sdf
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp
unit-testing-using-mstest/PrimeService.Tests/obj/*
unit-testing-using-mstest/PrimeService/obj/*
TDD/template/templateEngine/obj/*
TDD/template/templateEngine.test/bin/*
TDD/template/templateEngine.test/obj/*
TDD/template/templateEngine/bin/*